# Directories
env/
pdf_files/
reference_images/
saved/
downloaded_files/
training_data/
final_images/
images/
final_output/
gpt_4_1_nano_approved/
dataset/

# Python
*.pyc
__pycache__/
*.egg-info*
dist/
env/
venv/
venv3/
.venv/
.pytest_cache

# Files
*.txt
*.json
*.csv
*.png
*.pth
.env